
.root {
  -fx-base: #202020;
  -fx-background: #404040;
  background: #303030;
  -fx-control-inner-background: #303030;
  -fx-accent: #4a4a4a;
  -fx-default-button: #585858;
  -fx-focus-color: #686868;
  -fx-faint-focus-color: #68686822;
  -fx-selection-bar: #606060;
  -fx-selection-bar-non-focused: #1d1d1d;
  -fx-text-fill: #e0e0e0;
  -fx-text-background-color: #202020;
}

.menu-bar {
  -fx-background-color: #303030;
  background-color: #303030;
}

.menu {
  -fx-text-fill: #e0e0e0;
}

.menu-item {
  -fx-text-fill: #e0e0e0;
}

.text-field {
  -fx-text-fill: #e0e0e0;
  -fx-background-color: #404040;
  background-color: #404040;
}
.tool-bar .button {
  -fx-background-color: #202020;
  background-color: #202020;
  -fx-border-color: transparent;
  border-color: transparent;
  -fx-text-fill: white;
}
.tool-bar .button:hover {
  -fx-background-color: #404040;
  background-color: #404040;
}